.about-page {
    margin-top: 80px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
}

.about-page .title {
    color: #369EFF;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}


.techstack {
    height: 90px;
    width: 110px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-top: 15px;
    -webkit-box-shadow: -3px 1px 29px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: -3px 1px 20px 1px rgba(0,0,0,0.55);
    box-shadow: -3px 1px 15px 0px rgba(0,0,0,0.20);
}

.techstack p{
    margin-top: 0px;
}

.techstacks{
    width: 630px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 15px;
    margin-left: 20px;
}

.techstack-container .title{
    margin-left: 20px;
}

.tools-container {
    margin: 80px 0;
}

.tools-container .tools{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.tools-container .tools .tool{
    height: 70px;
    width: 90px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: -3px 1px 29px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: -3px 1px 20px 1px rgba(0,0,0,0.55);
    box-shadow: -3px 1px 15px 0px rgba(0,0,0,0.20);
}

.about-tools{
    margin: 80px 0;
    margin-left: -60px;
}