.contact-page {
    margin-top: 100px;
    margin-bottom: 80px;
}

.contact-page .contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    gap: 10px;
}


.contact-page .contact .contact-form form {
    width: 100%;
    text-align: start;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-page .contact .contact-form form .input-div {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between;
}

.contact-page .contact .contact-form form .input-box {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
}

.contact-page .contact .contact-form form .input-box input {
    height: 30px;
    border: solid #75bcff 1.5px;
    border-radius: 5px;
}

/* .contact-page .contact .contact-form form .input-box input:hover{
    border: solid #45a4fd 1.7px;
} */


.contact-page .contact .contact-form textarea {
    height: 100px;
    border: solid #75bcff 1.5px;
    border-radius: 5px;
    resize: none;
}
/* .contact-page .contact .contact-form textarea:focus{
    border: solid #45a4fd 1.7px;

} */

.contact-page .contact .contact-form button {
    border: none;
    background-color: #369EFF;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.contact-page .contact .contact-form button:hover {
    background-color: #2093ff;
    scale: 100.5%;
}

.contact-div {
    border-left: solid #369EFF 4px;
    margin: 20px 0;
}

.contact-details {
    text-align: start;
    position: relative;
    left: -8%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-details .contact-detail-div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}

.contact-details .contact-detail-div .contact-img {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 10px;
    gap: 30px;
}

.contact-details .contact-detail-div .contact-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    right: 60%;
    top: -2%;
    gap: 30px;
}

.contact-details h5 {
    font-size: 27px;
}

.contact-details p {
    font-size: 18px;
}

.contact-details p img {
    height: 24px;
    margin-right: 10px;
}


/* LG */
@media screen and ((min-width: 1000px) and (max-width: 1200px)) {
    .contact-page .contact {
        gap: 80px;
        margin-left: 5%;
    }
}


/* MD */
@media screen and ((min-width: 700px) and (max-width: 1000px)) {
    .contact-page .contact {
        gap: 10%;
        margin-left: -5%;
        scale: 90%;
    }

    .contact-page .contact .contact-div {
        display: none;
    }

    .contact-page .contact .contact-details {
        margin-left: 23%;
        margin-top: 10%;
    }
    .contact-page .contact .contact-form {
        scale: 120%;
        margin-left: 10%;
    }
}

/* SM */
@media screen and (max-width: 700px) {
    .contact-page .contact {
        gap: 50px;
        scale: 95%;
        margin-top: -10%;
    }

    .contact-page .contact .contact-form {
        scale: 80%;
        margin-left: -3%;
    }

    .contact-page .contact .contact-div {
        display: none;
    }

    .contact-page .contact .contact-details {
        margin-left: 4;
        scale: 80%;
    }

}