footer{
    width: auto;
    height: 50px;
    background-color: #1e5d98;
    padding: 5px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 10px;
}

footer .icon-link img{
    height: 25px;
    width: 25px;
}

footer .icon-link{
    display: flex;
    gap: 20px;
}

/* SM */
@media screen and (max-width: 700px) {
    footer div{
        scale: 75%;
    }
}