footer{
    width: auto;
    height: 50px;
    background-color: #00315f;
    padding: 5px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 10px;
}

footer .icon-link img{
    height: 25px;
    width: 25px;
}

footer .icon-link{
    display: flex;
    gap: 20px;
}


/* MD */
@media screen and ((min-width: 700px) and (max-width: 1000px)) {
    footer{
        width: 110%;
    }
}

/* SM */
@media screen and (max-width: 700px) {
    footer div{
        scale: 75%;
    }
}