.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    gap: 40px;
    margin-bottom: 50px;
}

 h4 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    text-align: center;
}

.title-div{
    border-bottom: solid #369EFF 4px;
    height: 110px;
    width: 100px;
    margin-left: 46%;
    margin-bottom: 40px;
    margin-top: -110px;
}
.projects .title-div{
    border-bottom: solid #369EFF 4px;
    height: 110px;
    width: 100px;
    margin-top: -150px;
    margin-left: 46%;
}

.projects .project .title {
    color: #369EFF;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: -15px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: start;
}

.projects .project{
    width: 90%;
    margin: 0 5%;
    display: flex;
    gap: 60px;
    padding: 0 20px;
}

.projects .project img{
    width: 630px;
    height: 400px;
    margin-left: 10px;
    filter: drop-shadow(5px 5px 10px #00000058);
    
}

.projects .project {
    text-align: start;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.projects .project .content .sub-title{
    font-weight: 500;
}

.designs{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 60px 0;
}

.designs img{
    -webkit-box-shadow: -3px 1px 89px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: -3px 1px 89px 1px rgba(0,0,0,0.55);
    box-shadow: -3px 1px 19px 1px rgba(0,0,0,0.25);
    
}