.project-page {
    margin-bottom: 60px;
    padding-top: 7%;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    gap: 40px;
    margin-bottom: 50px;
}

h4 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    text-align: center;
}

.title-div {
    border-bottom: solid #369EFF 4px;
    height: 110px;
    width: 10%;
    margin-left: 46%;
    margin-bottom: 40px;
    margin-top: -110px;
}

.projects .title-div {
    border-bottom: solid #369EFF 4px;
    height: 110px;
    width: 10%;
    margin-top: -150px;
    margin-left: 46%;
}

.projects .project .title {
    color: #369EFF;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: -15px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: start;
}

.projects .project {
    width: 90%;
    /* margin: 0 5%; */
    display: flex;
    gap: 40px;
    padding: 0 10px;
}

.projects .project img {
    width: 630px;
    height: 400px;
    filter: drop-shadow(5px 5px 10px #00000058);
    cursor: pointer;
    
}
.projects .project img:hover{
    filter: drop-shadow(10px 10px 10px #008cff58);
    scale: 103%;
    transition: 0.2s;
}

.projects .project {
    text-align: start;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 40px;
}

.projects .project2 {
    margin-left: 0;

}

.projects .project .content{
    padding-top: 1.5rem;
}

.projects .project .content .sub-title {
    font-weight: 500;
}

.designs {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 50px 0;
}

.designs img {
    -webkit-box-shadow: -3px 1px 89px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: -3px 1px 89px 1px rgba(0, 0, 0, 0.55);
    box-shadow: -3px 1px 19px 1px rgba(0, 0, 0, 0.25);
    opacity: 90%;
    border: solid #2794fa77 2px;
    border-radius: 5px;
    
}

.designs img:hover {
    scale: 103%;
    transition: 0.3s;
    opacity: 100%;
    -webkit-box-shadow: -3px 1px 39px 1px rgba(0, 157, 255, 0.15);
    -moz-box-shadow: -3px 1px 39px 1px rgba(2, 192, 255, 0.25);
    box-shadow: -3px 1px 39px 1px rgba(0, 157, 255, 0.35);

}

/* LG */
@media screen and ((min-width: 1000px) and (max-width: 1200px)) {
    .projects {
        scale: 95%;
    }

    .designs {
        scale: 95%;
        gap: 20px;
    }

}

/* MD */
@media screen and ((min-width: 700px) and (max-width: 1000px)) {
    .projects {
        scale: 70%;
        margin: 0;
    }

    .designs {
        scale: 70%;
        gap: 20px;
    }

    .projects {
        margin-bottom: -180px;
    }

    .projects .project {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        position: relative;
        left: -12%;
    }

    .projects .project2 {
        position: relative;
        left: -18%;
    }

    .designs {
        position: relative;
        left: -12%;
    }

    .title-div {
        margin-left: 44%;
    }

    .projects .title-div {
        margin-left: 44%;
    }

    .project-page {
        margin-top: -30%;
    }

    .design-title {
        scale: 70%;
    }

}

/* SM */
@media screen and (max-width: 700px) {
    .projects {
        scale: 70%;
        margin-left: -7%;
        margin-bottom: -105%;
        margin-top: -60%;
    }

    .projects h4 {
        margin-left: 20%;
    }

    .title-div {
        width: 20%;
        margin-left: 40%;
        margin-bottom: 8%;
        margin-top: -33%;

    }

    .projects .title-div {
        width: 20%;
        margin-left: 50%;
        
    }

    .designs {
        scale: 55%;
        gap: 50px;
        margin-top: -35%;
        margin-left: -13.5%;
        flex-direction: column;
    }

    .project-page {
        margin-top: -50%;
    }

    .design-title {
        scale: 60%;
    }

    .project {
        flex-direction: column;
    }

    
    .project img {
        scale: 60%;
        position: relative;
        left: -40%;
        margin-bottom: -14%;
        margin-right: 0;
    }
    
    .projects .project img:hover{
        scale: 64%;
    }
}