.project-page {
    margin-bottom: 60px;
    padding-top: 60px;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
    gap: 40px;
    margin-bottom: 50px;
}

h4 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
    text-align: center;
}

.title-div {
    border-bottom: solid #369EFF 4px;
    height: 110px;
    width: 90px;
    margin-left: 46%;
    margin-bottom: 40px;
    margin-top: -110px;
}

.projects .title-div {
    border-bottom: solid #369EFF 4px;
    height: 110px;
    width: 90px;
    margin-top: -150px;
    margin-left: 46%;
}

.projects .project .title {
    color: #369EFF;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: -15px;
    font-size: 24px;
    text-align: start;
}

.projects .project {
    width: 90%;
    display: flex;
    gap: 40px;
    padding: 0 10px;
}

.projects .project img {
    filter: drop-shadow(5px 5px 10px #00000058);
    cursor: pointer;
    
}
.projects .project img:hover{
    filter: drop-shadow(10px 10px 10px #008cff58);
    scale: 103%;
    transition: 0.2s;
}

.projects .project {
    text-align: start;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 40px;
}

.projects .project2 {
    margin-left: 0;

}

.projects .project .content{
    padding-top: 1.5rem;
}

.projects .project .content .sub-title {
    font-weight: 500;
}

.designs {
    width: auto;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin: 50px 20px;
}

.designs img {
    -webkit-box-shadow: -3px 1px 89px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: -3px 1px 89px 1px rgba(0, 0, 0, 0.55);
    box-shadow: -3px 1px 19px 1px rgba(0, 0, 0, 0.25);
    opacity: 90%;
    border: solid #2794fa77 2px;
    border-radius: 5px;
    height: auto;
    
}

.designs img:hover {
    scale: 103%;
    transition: 0.3s;
    opacity: 100%;
    -webkit-box-shadow: -3px 1px 39px 1px rgba(0, 157, 255, 0.15);
    -moz-box-shadow: -3px 1px 39px 1px rgba(2, 192, 255, 0.25);
    box-shadow: -3px 1px 39px 1px rgba(0, 157, 255, 0.35);

}


/* MD */
@media screen and ((min-width: 700px) and (max-width: 1000px)) {
    .project .content{
        scale: 90%;
        margin-top: -50px;
    }

.projects .title-div {
    width: 70px;
}

}

/* SM */
@media screen and (max-width: 700px) {
    .project {
        flex-direction: column;
    }

    .project .content{
        scale: 90%;
        margin-top: -50px;
        margin-left: 20px;
    }

    .designs img{
        height: 50%;
    }
    .designs {
        flex-direction: column;
    }
    .projects .title-div {
        width: 70px;
    }
     .title-div {
        width: 70px;
    }
    
}