.service-div {
    margin-top: 50px;
    text-align: center;
}

.services {
    text-align: center;
    display: flex;
    gap: 20px;
    margin: auto;
    padding: 20px;
}

.service {
    width: fit-content;
    border: solid rgb(207, 207, 207) 0.5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
    height: 320px;
    width: 350px;
    cursor: pointer;
    padding: 10px;
    margin: auto;
}

.service:hover {
    scale: 103%;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(10, 120, 247, 0.16) 0px 3px 6px, rgba(9, 132, 248, 0.23) 0px 3px 6px;

}

.service img {
    height: 150px;
    width: 250px;
}

.service p,
.whyme h5 {
    font-size: 20px;
    font-weight: 600;
}

.service-div .title {
    text-align: start;
    margin: 60px 0 20px 40px;
    color: rgb(0, 128, 255);
    font-size: 30px;
}

.whyme-div {
    margin: 2%;
    display: flex;
    gap: 25px;
}

.whyme {
    padding: 20px;
    display: flex;
    height: 300px;
    max-width: 600px;
    border: solid rgb(207, 207, 207) 0.5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    margin: auto;
}

.whyme:hover {
    scale: 103%;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(10, 120, 247, 0.16) 0px 3px 6px, rgba(9, 132, 248, 0.23) 0px 3px 6px;
}


.whyme img {
    height: 80px;
    width: 230px;
}

.whyme .content {
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whyme .content p {
    color: rgb(94, 94, 94);
}

.service-div .hire-btn {
    margin: 20px 0 30px 0;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(60, 158, 255);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.service-div .hire-btn:hover {
    background-color: rgb(28, 139, 251);
    scale: 103%;
    box-shadow: rgba(10, 120, 247, 0.16) 0px 3px 6px, rgba(9, 132, 248, 0.23) 0px 3px 6px;

}

/* MD */
@media screen and ((min-width: 700px) and (max-width: 1000px)) {
    .services{
        gap: 20px;
        margin: auto;
        padding: 10px;
    }
    .service {
        width: 300px;
        height: 280px;
        padding: 5px;
    }
    .whyme-div{
        flex-direction: column;
        padding: 10px;
        margin: auto;
    
    }
    .whyme{
        height: fit-content;
        width: 90dvw;
        flex-direction: column;
        padding: 20px;
        margin: auto;
    }

    .whyme .content{
        padding: 0;
    }
    .whyme img{
        margin: auto;
        height: auto;
        width: 300px;
    }
}

/* SM */
@media screen and (max-width: 600px) {
    .services {
        flex-direction: column;
        gap: 20px;
        margin: auto;
        text-align: center;
    }

    .service {
        height: max-content;
        padding: 10px;
        width: 250px;
        margin: auto;
    }

    .whyme-div{
        flex-direction: column;
        padding: 10px;
    }
    .whyme{
        height: fit-content;
        width: 90dvw;
        flex-direction: column;
        padding: 10px;
    }

    .whyme img{
        margin: auto;
    }

    .whyme .content{
        padding: 0;
    }
}