*{
    transition-timing-function: 0.2s;
}

body{
    width: 100%;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

img, video, iframe {
    max-width: 100%;
    height: auto !important;
}